doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title FLEX
    meta(name='description' content='Focused Learning & Education Xperience')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i')
  <!-- The top of file index.html -->
<html itemscope itemtype="http://schema.org/Article">
<head>
  <!-- BEGIN Pre-requisites -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <!-- END Pre-requisites -->
body
    nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-dark.navbar-custom
      .container
        a.navbar-brand(href='https://flexweb.azurewebsites.net') FLEX
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#navbarResponsive')
          span.visually-hidden Toggle navigation
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href = "https://flexweb.azurewebsites.net/.auth/logout") Sign out

    header.text-center.text-white.masthead
      .masthead-content
        .container
          h1.masthead-heading.mb-0
            br
            strong Flex
            br
            br
          h2.masthead-subheading.mb-0(style='font-size: 44px;') Focused Learning & Education Xperience
      .bg-circle-1.bg-circle
      .bg-circle-2.bg-circle
      .bg-circle-3.bg-circle
      .bg-circle-4.bg-circle
    section
      .container
        .row.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              img.rounded-circle.img-fluid(src='/images/01.jpg')
          .col-lg-6.order-lg-1
            .p-5
              h2.display-4
                br
                | 3D Animations
                br
                br
              p
                br
                | We Provide 3D animated videos to make learning easy and Exciting.
                br
                br
    section
      .container
        .row.align-items-center
          .col-lg-6.order-lg-1
            .p-5
              img.rounded-circle.img-fluid(src='/images/02.jpg')
          .col-lg-6.order-lg-2
            .p-5
              h2.display-4
                br
                | Real Life Examples
                br
                br
              p 
                | We Try to make use of real life examples to make understanding better and easy.
                br
                br
    section
      .container
        .row.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              h2.mb-4 Ready to get started?!
              a.btn.btn-primary.btn-xl.rounded-pill.mt-5(role='button' href='/Topic') Explore Now
          .col-lg-6.order-lg-1
            img.rounded-circle.img-fluid(src='/images/03.jpg')
          .col
            .row
              .col
                .p-5
                  h2.display-4
                    br
                    | Free Access
                    br
                    br
                  p
                    br
                    | Anyone can Access this videos for free.
                    br
                    br
    footer.py-5.bg-black
      .container
        p.text-center.text-white.m-0.small
          | An E-Learning Initiative
          br
          | Copyright © FLEX 2022
          br
          br
          | ayushparab1844@gmail.com
    script(src='/bootstrap/js/bootstrap.min.js')